
@import 'pages/home';

$body-font-size: 20px;
$body-font-weight: 300;
$font-family: 'Tangerine', cursive;

body{
  font-size:$body-font-size;
  font-family: $font-family;
  font-weight: $body-font-weight;
}


