@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Tangerine:400,700);

body, label, .checkbox label {
	font-weight: 300;
}
